<!DOCTYPE html>
<html>
	<head>
		<title><%= article.header %></title>
		<link rel="stylesheet" type="text/css" href="../../../static/css/style.css">
	</head>
	
	<body>
		<div>
		<img src=<%= article.banner %>>
			<h1><%= article.header %></h1>
			<p><%= article.publish_datetime %></p>
			<p><%= article.url %></p>
			<p><%= article.summary %></p>
		</div>

		<div class="chatbox">
			<form role="form" action="/messages/create" method="post">
				<input type="text" name="message[body]"></input>
				<input type='text' name="message[article_id]" value=<%= article.id %>></input>
				<button type="submit">POST</button>
			</form>
		</div>
	</body>
</html>